@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

* {
    font-family: "Poppins", sans-serif;
}

/* ESTILIZAÇÃO DO CONTAINER DOS CARDS*/
.container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    padding-bottom: 20px;
}

/* ESTILIZAÇÃO DO CARD */
.card {
    background: #fff;
    width: 280px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 20px;
    text-align: center;
    transition: transform 0.3s ease-in-out;
}

.card:hover {
    transform: scale(1.05);
}

/* IMAGENS */
.card img {
    width: 100%;
    height: 200px;
    object-fit: contain; /*contain redireciona proporcionalmente a imagem, para caber a imagem por completo.*/
    border-radius: 5px;
}

/* TÍTULO */
.card h2 {
    margin: 10px 0;
}

/* PREÇO */
.preco {
    font-size: 18px;
    font-weight: bold;
    color: #27ae60;
    margin: 10px 0;
}

@media screen and (max-width: 768px) {
    .container {
        flex-direction: column;
        align-items: center;
        padding: 0 10px 20px;
    }

    .card {
        width: 90%;
        max-width: 400px;
    }

    .card img {
        height: auto;
        max-height: 200px;
    }
}
